*{
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: darkgray;
  font-family: 'Press Start 2P';
}

.h1container{
  display: inline-block;
}

.mainContainer{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 50vh;
}

header h1{
  animation: type 3s steps(31, end) forwards,
  blink .8s infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #887f7f;
  width: 0;
  color: #DFDFDF;
}

header a{
  font-size: 1.6rem;
  width: 20%;
  align-self: center;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  transition:.4s;
  font-family: 'Press Start 2P';
  background-color: #FB1B1B;
  color:#DFDFDF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
  cursor: pointer;
}

header a:hover{
  background-color: transparent;
}

@keyframes type {
  from {width: 0;}
  to {width: 100%;}
}

@keyframes blink {
  form {border-color: whitesmoke;}
  to {border-color: transparent;}
}

.search-and-results{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: #DFDFDF;
  min-height: 10vh;
}

.search-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  padding: 2.5vh;
  font-family: 'play';
  font-weight: bold;
}

.search-container h2{
  margin-right: 20px;
  font-size: 1.9rem;
  color: darkgray;
}

.search-container button{
  font-family: 'play';
  font-size: 1.2rem;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #FB1B1B;
  color: #DFDFDF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: .3s;
}

.search-container button:hover{
  background-color: transparent;
  color: darkgray;
}

.search-container input{
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 8px 15px 8px 15px;
  margin-right: 20px;
}


.parallax{
  min-height: 90vh;
  display: flex;
}

.selectedItems{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  font-size: 1.4rem;
  padding: 10px;
  padding-top: 10px;
  background-color: #CE2211;
  color: #DFDFDF;
  text-align: center;
  font-family: 'play';
  min-height: 90vh;
}


.selectedItemsGrid{
  display: grid;
  grid: auto / 1fr 1fr;
  gap: 2px;
  height: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.selectedItems button{
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  background-color: #DFDFDF;
  color: #7D7D7D;
  height: 3rem;
  font-size: 1.4rem;
  font-family: 'play';
  transition: .3s;
}

.selectedItems button:hover{
  background-color: transparent;
  color: #DFDFDF;
}

.cards{
  height: 90vh;
  width: 75%;
  padding: 10px;
  background-color: darkgray;
  display: grid;
  grid: auto / repeat(3,1fr);
  overflow-x: hidden;
  overflow-y: auto;
}


.chosenPokemon1{
  height: 86vh;
  background-color: #6F6F6F;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 5px;
  margin-bottom: 35px;
  padding: 10px;
  border-radius: 8px;
}
.chosenPokemon2{
  height: 86vh;
  background-color: #6F6F6F;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}
.chosenPokemon3{
  height: 86vh;
  background-color: #6F6F6F;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}
.chosenPokemon4{
  height: 86vh;
  background-color: #6F6F6F;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}
.chosenPokemon5{
  height: 86vh;
  background-color: #6F6F6F;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}
.chosenPokemon6{
  height: 86vh;
  background-color: #6F6F6F;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}

#div1{
  align-self: center;
  margin: 20px;
}
#div2{
  align-self: center;
  margin: 20px;
}
#div3{
  text-align: center;
  margin: 2px;
}
#div4{
  text-align: center;
  margin: 2px;
}
#div5{
  text-align: center;
  margin: 2px;
}
#div6{
  text-align: center;
  margin: 2px;
}

.Battle-section{
  display: none;
}

footer {
  min-height: 100vh;
  background-color: lightgoldenrodyellow;
}

.bigContainer {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.grid {
  display: grid;
  grid: repeat(3, 1fr)/ repeat(3, 1fr);
  height: 90vh;
  width: 90vw;
  background-image: url(https://th.bing.com/th/id/OIP.IP4eFD6huxdaIDWx0YDjmAHaDz?w=316&h=179&c=7&r=0&o=5&dpr=1.3&pid=1.7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid black;

}
#Begin {
  text-align: center;
  font-family: 'Press Start 2P';
  padding-top: 20px;
}

.compPokemon{
  font-size: 1.3rem;
  grid-area: 1/3;
  transform: translateY(100%) translateX(1%);
  color: whitesmoke;
}

.compPokemon img{
  height: 200px;
}

.fighter1{
  font-size: 1.3rem;
  color: whitesmoke;
  grid-area: 3/1;
  transform: translateX(70%) translateY(-20%);
}

.fighter1 img{
  height: 200px;
}

.fighter2{
  display: none;
}
.fighter3{
  display: none;
}
.fighter4{
  display: none;
}
.fighter5{
  display: none;
}
.fighter6{
  display: none;
}

#btn-show{
  margin-top: 20px;
  font-family: 'play';
  font-size: 1.2rem;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #FB1B1B;
  color: #DFDFDF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: .3s;
}